{% extends 'base.html' %}

{% block title %}Task List{% endblock %}

{% block content %}
<div class="task-list-container">
    <h2>Your Tasks</h2>
    <a href="{% url 'task_add' %}" class="add-task-btn">Add Task</a>
    <ul class="task-list">
        {% for task in tasks %}
            <li class="task-item">
                <a href="{% url 'task_detail' task.id %}" class="task-title">{{ task.title }}</a>
                <div class="task-actions">
                    <a href="{% url 'task_edit' task.id %}" class="edit-btn">Edit</a>
                    <a href="{% url 'task_delete' task.id %}" class="delete-btn">Delete</a>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
